<%= form_with(model: adventure) do |form| %>
  <% if adventure.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(adventure.errors.count, "error") %> prohibited this adventure from being saved:</h2>

      <ul>
        <% adventure.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>  
      <% if user_signed_in? %>    
        <%= link_to "Back to adventures", adventures_path %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path %> or <%= link_to "Sign up", new_user_registration_path %>
      <% end %>      
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :place, style: "display: block" %>
    <%= form.text_field :place %>
  </div>

  <div>
    <%= form.label :when_went, style: "display: block" %>
    <%= form.datetime_field :when_went %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
